<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <!-- Cancel Button -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>{{ expense.id ? 'Edit' : 'Add' }} Expense</ion-title>

    <!-- Save Button -->
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <!-- Name -->
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input
      #nameInput
      formControlName="name"
      maxlength="40"
      placeholder="Name"
      required="true"
    ></ion-input>
  </ion-item>

  <!-- Kategorie -->
  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select formControlName="categories" placeholder="Select Category">
      <!-- Dynamische Kategorien -->
      @for (category of categories; track category.id) {
        <ion-select-option [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      }
    </ion-select>
    <!-- Add Category Button -->
    <ion-button (click)="openAddCategoryModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Betrag -->
  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <div style="display: flex; align-items: center; position: relative; width: 100%;">
      <ion-input
        formControlName="amount"
        type="number"
        placeholder="Amount"
        required="true"
        style="flex: 1; padding-right: 50px;"
      ></ion-input>
      <span
        style="position: absolute; right: 0; color: #666; font-size: 14px; pointer-events: none;"
      >
        CHF
      </span>
    </div>
  </ion-item>

  <!-- Datum -->
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime formControlName="date" presentation="date"></ion-datetime>
  </ion-item>

  <!-- Delete Button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- ------ -->
<!-- Add Category Modal -->
<!-- ------ -->
<ion-modal [isOpen]="isAddCategoryModalOpen" (ionModalDidDismiss)="closeAddCategoryModal()">
  <ng-template>
    <!-- Modal Header -->
    <ion-header>
      <ion-toolbar>
        <!-- Cancel Button -->
        <ion-buttons slot="start">
          <ion-button (click)="closeAddCategoryModal()">
            <ion-icon slot="start" name="close"></ion-icon>
            Cancel
          </ion-button>
        </ion-buttons>

        <!-- Title -->
        <ion-title>Add Category</ion-title>

        <!-- Save Button -->
        <ion-buttons slot="end">
          <ion-button
            type="button"
            [disabled]="addCategoryForm.invalid"
            (click)="saveNewCategory()"
          >
            <ion-icon slot="start" name="save"></ion-icon>
            Save
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Modal Content -->
    <ion-content class="ion-padding">
      <!-- Eingabefeld für Kategorie -->
      <form [formGroup]="addCategoryForm">
        <ion-item>
          <ion-icon slot="start" name="text"></ion-icon>
          <ion-label position="stacked">Name</ion-label>
          <ion-input formControlName="name" placeholder="Enter category name"></ion-input>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
